---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Nav.astro";
---

<Layout>
    <div>
        <Navigation></Navigation>
        <h1>About</h1>
    </div>
</Layout>

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    h1 {
        text-transform: uppercase;
    }
</style>
