---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import grid from "../assets/grid.svg";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div>
		<div class="intro">
			<h1>
				Hi <span class="elegant">t</span>here, <span class="elegant"
					>I</span
				> am <span
					class="highlight"><span class="elegant">A</span>nna <span class="elegant"
						>K</span
					>inds</span
				>
			</h1>
			<img src="../assets/profilePhoto.png" alt="" />
			<div class="intro__subtitle">
				<h2>Portfolio</h2>
				<h2>2025</h2>
			</div>
		</div>
		<nav class="nav">
			<a class="nav__about" href="/about">About</a>
			<div class="nav__about--rect">
				<p>
					Hi, I’m Anna. I love combining creativity and technology.
					That’s how I found my passion for photography and film.
					Through my studies in Digital Design and Development, I
					developed skills in coding, design, and visual storytelling.
				</p>
			</div>
			<a class="nav__projects" href="/projects">Projects</a>
			<div class="nav__projects--rect">
				<div>
					<p>
						My work is a mix of all these words, but I do love
						finding new words to add.
					</p>
					<ul>
						<li>Digital Design</li>
						<li>Storytelling</li>
						<li>Interactive Design</li>
						<li>3D</li>
						<li>Motion design</li>
						<li>Photography</li>
						<li><a href="/projects">See my work</a></li>
					</ul>
				</div>
				<Image src={grid} alt="A rocketship in space." class="grid" />
			</div>
			<a class="nav__contact" href="/contact">Contact</a>
			<div class="nav__contact--rect"></div>
		</nav>
	</div>
</Layout>

<style>
	:root {
		--lightlightblue: #dae0ee;
		--lightblue: #b8c3dc;
		--blue: #8897ba;
		--accent: #daea81;
		--black: #333333;
	}
	body {
		font-family: Arial, Helvetica, sans-serif;
		color: var(--black);
	}

	.elegant {
		font-family: "Parisienne";
		font-weight: 400;
	}

	.highlight {
		background-color: var(--accent);
		border-radius: 25px;
	}

	.intro {
		display: grid;
		grid-template-columns: 1fr auto;
		grid-template-rows: max-content auto;
		padding: 0rem 5rem;
	}
	h1 {
		text-transform: uppercase;
		font-size: 5rem;
		width: 40rem;
		grid-column: 2;
		grid-row: 2;
	}

	.intro__subtitle {
		font-size: 1rem;
		text-transform: uppercase;
		color: #8897ba;
		display: flex;
		justify-content: space-between;
		grid-column: 2;
		grid-row: 1;
	}

	h2 {
		font-weight: 400;
	}

	.nav {
		display: grid;
		grid-auto-flow: row;
		justify-items: center;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto auto auto;
	}
	.nav > a {
		text-decoration: none;
		color: inherit;
		font-weight: 400;
		font-size: 2rem;
		padding: 1rem 2.5rem;
		width: fit-content;
		height: fit-content;
		border-radius: 25px 25px 0px 0px;
		text-transform: uppercase;
		display: flex;
		align-self: end;
	}
	.nav__about {
		background-color: var(--lightlightblue);
		grid-column: 3;
		grid-row: 1;
	}

	.nav__about--rect {
		background-color: var(--lightlightblue);
		grid-column: 1 / span 3;
		grid-row: 2;
	}

	.nav__projects {
		background-color: var(--lightblue);
		grid-column: 2;
		grid-row: 2;
	}

	.nav__projects--rect {
		background-color: var(--lightblue);
		grid-column: 1 / span 3;
		grid-row: 3;

		position: relative;
		overflow: hidden;
		height: 10rem;

		transition: height 0.3s ease;
		color: white;
		font-size: 1.5rem;
	}

	.nav__projects--rect img.grid {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 1;
	}

	.nav__projects--rect div {
		position: relative;
		z-index: 2;
		padding: 2rem;
		width: 50%;
		opacity: 0;
		transition: opacity 0.3s ease;
		display: flex;
		flex-direction: row;
	}

	.nav__contact {
		background-color: var(--blue);
		grid-column: 1;
		grid-row: 3;
		z-index: 3;
	}
	.nav__contact--rect {
		background-color: var(--blue);
		grid-column: 1 / span 3;
		grid-row: 4;
	}

	.nav__about--rect,
	.nav__projects--rect,
	.nav__contact--rect {
		transition: height 0.3s ease;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: start;
		color: white;
		height: 10rem;
		width: 100%;
		font-size: 1.5rem;
	}

	.nav__about--rect p,
	.nav__projects--rect div,
	.nav__contact--rect p {
		padding: 2rem;
		width: 50%;
	}

	/* ABOUT */
	.nav__about:hover + .nav__about--rect,
	.nav__about--rect:hover {
		height: 25rem;
	}

	.nav__about:hover + .nav__about--rect p,
	.nav__about--rect:hover p {
		opacity: 1;
	}

	/* PROJECTS */
	.nav__projects:hover + .nav__projects--rect,
	.nav__projects--rect:hover {
		height: 25rem;
	}

	.nav__projects:hover + .nav__projects--rect div,
	.nav__projects--rect:hover div {
		opacity: 1;
	}

	/* CONTACT */
	.nav__contact:hover + .nav__contact--rect,
	.nav__contact--rect:hover {
		height: 25rem;
	}

	.nav__contact:hover + .nav__contact--rect p,
	.nav__contact--rect:hover p {
		opacity: 1;
	}

	/* tekst in de rect standaard onzichtbaar */
	.nav__about--rect p,
	.nav__projects--rect div,
	.nav__contact--rect p {
		opacity: 0;
		transition: opacity 0.3s ease;
	}
</style>
