---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import profile from "../assets/profilPhoto.png";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div>
		<div class="intro">
			<h1>
				Hi <span class="elegant">t</span>here, <span class="elegant"
					>I</span
				> am <span class="highlight"
					><span class="elegant">A</span>nna <span class="elegant"
						>K</span
					>inds</span
				>
			</h1>
			<Image src={profile} alt="" class="profilePhoto" />
			<div class="intro__subtitle">
				<h2>Portfolio</h2>
				<h2>2025</h2>
			</div>
		</div>
		<nav class="nav">
			<a class="nav__about" href="/about">About</a>
			<div class="nav__about--rect">
				<p class="about__p">
					Hi, I’m Anna. I love <b
						>combining creativity and technology</b
					>. That’s how I found my passion for photography and film.
					Through my <b>studies in Digital Design and Development</b>,
					I developed skills in coding, design, and visual
					storytelling.
				</p>
			</div>
			<a class="nav__projects" href="/projects">Projects</a>
			<div class="nav__projects--rect">
				<div class="projects">
					<p class="projects__p">
						My work is a mix of all these words, but I do love
						finding new words to add.
					</p>
					<p class="projects_li--1">Digital Design</p>
					<p class="projects_li--2">Storytelling</p>
					<p class="projects_li--3">Interactive Design</p>
					<p class="projects_li--4">3D</p>
					<p class="projects_li--5">Motion design</p>
					<p class="projects_li--6">Photography</p>
					<p class="projects_li--7">filming</p>
					<a class="pageButton" href="/projects">See my work</a>
				</div>
			</div>
			<a class="nav__contact" href="/contact">Contact</a>
			<div class="nav__contact--rect"></div>
		</nav>
	</div>
</Layout>

<style>
	:root {
		--lightlightblue: #dae0ee;
		--lightblue: #b8c3dc;
		--blue: #8897ba;
		--accent: #daea81;
		--black: #333333;
		--white: #ebecf0;
	}
	body {
		font-family: Arial, Helvetica, sans-serif;
		color: var(--black);
		background-color: var(--white);
	}

	.elegant {
		font-family: "Parisienne";
		font-weight: 400;
	}

	.highlight, .pageButton {
		background-color: var(--accent);
		border-radius: 25px;
	}

	.pageButton {
		padding: 1rem;
		border: .1rem solid var(--black);
		text-decoration: none;
		color: var(--black);
		font-weight: 600;
	}

	.intro {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: 1fr 5fr;
		padding: 2rem 5rem;

	}

	.profilePhoto {
		grid-row: 1 / span 2;
		grid-column: 1;
		display: flex;
		align-self: center;
		justify-self: end;
		padding-right: 2rem;
	}

	h1 {
		text-transform: uppercase;
		font-size: 5rem;
		width: 40rem;
		grid-column: 2;
		grid-row: 2;
		padding: 0rem;
		margin: 0rem;
	}

	.intro__subtitle {
		font-size: 1rem;
		text-transform: uppercase;
		color: #8897ba;
		display: flex;
		justify-content: space-between;
		grid-column: 2;
		grid-row: 1;
		padding-right: 15rem;
	}

	h2 {
		font-weight: 400;
		margin: 0rem;
		display: flex;
		align-items: end;
	}

	.nav {
		display: grid;
		grid-auto-flow: row;
		justify-items: center;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto auto auto;
	}
	.nav > a {
		text-decoration: none;
		color: inherit;
		font-weight: 400;
		font-size: 2rem;
		padding: 1rem 2.5rem;
		width: fit-content;
		height: fit-content;
		border-radius: 25px 25px 0px 0px;
		text-transform: uppercase;
		display: flex;
		align-self: end;
	}
	.nav__about {
		background-color: var(--lightlightblue);
		grid-column: 3;
		grid-row: 1;
	}

	.nav__about--rect {
		background-color: var(--lightlightblue);
		grid-column: 1 / span 3;
		grid-row: 2;
	}

	.about__p {
		color: var(--black);
	}

	.nav__projects {
		background-color: var(--lightblue);
		grid-column: 2;
		grid-row: 2;
	}

	.nav__projects--rect {
		background-color: var(--lightblue);
		grid-column: 1 / span 3;
		grid-row: 3;

		position: relative;
		overflow: hidden;
		height: 10rem;

		transition: height 0.3s ease;
		color: black;
		font-size: 1.5rem;
	}

	.projects {
		display: grid;
		grid-template-columns: 3fr 1fr 2fr 2fr 3fr;
		grid-row: 2fr 2fr 2fr;
	}

	.projects__p {
		background-color: var(--blue);
		padding: 1.5rem;
		border-radius: 25px;
		border: 0.1rem solid var(--black);
		grid-column: 1;
		grid-row: 1;
		display: flex;
		justify-content: end;
		width: 15rem;
	}

	.projects_li--1 {
		grid-column: 1;
		grid-row: 2;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.projects_li--2 {
		grid-column: 1 / span 2;
		grid-row: 3;
		display: flex;
		justify-content: end;
	}

	.projects_li--3 {
		grid-column: 3;
		grid-row: 2;
		display: flex;
		justify-content: end;
	}

	.projects_li--4 {
		grid-column: 3 / span 2;
		grid-row: 3;
		display: flex;
		justify-content: end;
		align-items: end;
	}

	.projects_li--5 {
		grid-column: 4;
		grid-row: 1;
		display: flex;
		justify-content: end;
	}

	.projects_li--6 {
		grid-column: 4;
		grid-row: 2;
		display: flex;
		justify-content: center;
		align-items: end;
	}

	.projects_li--7 {
		grid-column: 5;
		grid-row: 2;
		display: flex;

	}

	.projects a {
		grid-column: 5;
		grid-row: 3;
		display: flex;
		align-items: center;
	}

	.nav__contact {
		background-color: var(--blue);
		grid-column: 1;
		grid-row: 3;
		z-index: 3;
	}
	.nav__contact--rect {
		background-color: var(--blue);
		grid-column: 1 / span 3;
		grid-row: 4;
	}

	.nav__about--rect,
	.nav__projects--rect,
	.nav__contact--rect {
		transition: height 0.3s ease;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: start;
		color: white;
		height: 10rem;
		width: 100%;
		font-size: 1.5rem;
	}

	.nav__about--rect p,
	.nav__projects--rect div,
	.nav__contact--rect p {
		padding: 2rem;
		width: 50%;
	}

	/* ABOUT */
	.nav__about:hover + .nav__about--rect,
	.nav__about--rect:hover {
		height: 25rem;
	}

	.nav__about:hover + .nav__about--rect p,
	.nav__about--rect:hover p {
		opacity: 1;
	}

	/* PROJECTS */
	.nav__projects:hover + .nav__projects--rect,
	.nav__projects--rect:hover {
		height: 25rem;
	}

	.nav__projects:hover + .nav__projects--rect div,
	.nav__projects--rect:hover div {
		opacity: 1;
	}

	/* CONTACT */
	.nav__contact:hover + .nav__contact--rect,
	.nav__contact--rect:hover {
		height: 25rem;
	}

	.nav__contact:hover + .nav__contact--rect p,
	.nav__contact--rect:hover p {
		opacity: 1;
	}

	/* tekst in de rect standaard onzichtbaar */
	.nav__about--rect p,
	.nav__projects--rect div,
	.nav__contact--rect p {
		opacity: 0;
		transition: opacity 0.3s ease;
	}
</style>
