---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import profile from "../assets/profilPhoto.png";
import arrow from "../assets/arrow.svg";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div>
		<div class="intro">
			<h1>
				Hi <span class="elegant">t</span>here, <span class="elegant"
					>I</span
				> am <span class="highlight"
					><span class="elegant">A</span>nna <span class="elegant"
						>K</span
					>inds</span
				>
			</h1>
			<Image src={profile} alt="" class="profilePhoto" />
			<div class="intro__subtitle">
				<h2>Portfolio</h2>
				<h2>2025</h2>
			</div>
		</div>
		<nav class="nav">
			<a class="nav__about" href="/about">About</a>
			<div class="about">
				<p class="about__p">
					Hi, I’m Anna. I love <b
						>combining creativity and technology</b
					>. That’s how I found my passion for photography and film.
					Through my <b>studies in Digital Design and Development</b>,
					I developed skills in coding, design, and visual
					storytelling.
				</p>
			</div>
			<a class="nav__projects" href="/projects">Projects</a>
			<div class="projects">
				<p class="projects__p">
					My work is a mix of all these words, but I do love finding
					new words to add.
				</p>
				<p class="projects_li--1">Filming</p>
				<p class="projects_li--2">Interactive Design</p>
				<p class="projects_li--3">Storytelling</p>
				<p class="projects_li--4">Photography</p>
				<p class="projects_li--5">3D</p>
				<p class="projects_li--6">Digital Design</p>
				<p class="projects_li--7">Motion Design</p>
				<a class="pageButton" href="/projects">See my work</a>
			</div>
			<a class="nav__contact" href="/contact">Contact</a>
			<div class="contact">
				<h3 class="contact__title">Get in touch</h3>
				<Image src={arrow} alt="" class="contact__arrow" />
				<div class="contact__geg">
					<p class="mail">anna.kinds@outlook.com</p>
					<p class="phone">+32 470 51 02 42</p>
				</div>
				<a class="pageButton contact__button" href="/contact"
					>or See other ways to contact me →</a
				>
			</div>
		</nav>
	</div>
</Layout>

<style>
	:root {
		--lightlightblue: #dae0ee;
		--lightblue: #b8c3dc;
		--blue: #8897ba;
		--accent: #daea81;
		--black: #333333;
		--white: #ebecf0;
	}
	body {
		font-family: Arial, Helvetica, sans-serif;
		color: var(--black);
		background-color: var(--white);
		margin: 0;
		padding: 0;
	}

	.elegant {
		font-family: "Parisienne";
		font-weight: 400;
	}

	.highlight,
	.pageButton {
		background-color: var(--accent);
		border-radius: 25px;
	}

	.pageButton {
		padding: 1rem;
		border: 0.1rem solid var(--black);
		text-decoration: none;
		color: var(--black);
		font-weight: 600;
		text-transform: uppercase;
		width: 5rem;
	}

	.intro {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: 1fr 5fr;
		padding: 2rem 5rem;
	}

	.profilePhoto {
		grid-row: 1 / span 2;
		grid-column: 1;
		display: flex;
		align-self: center;
		justify-self: end;
		padding-right: 2rem;
	}

	h1 {
		text-transform: uppercase;
		font-size: 5rem;
		width: 40rem;
		grid-column: 2;
		grid-row: 2;
		padding: 0rem;
		margin: 0rem;
	}

	.intro__subtitle {
		font-size: 1rem;
		text-transform: uppercase;
		color: #8897ba;
		display: flex;
		justify-content: space-between;
		grid-column: 2;
		grid-row: 1;
		padding-right: 15rem;
	}

	h2 {
		font-weight: 400;
		margin: 0rem;
		display: flex;
		align-items: end;
	}

	.nav {
		display: grid;
		grid-auto-flow: row;
		justify-items: center;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto auto auto;
	}
	.nav > a {
		text-decoration: none;
		color: inherit;
		font-weight: 400;
		font-size: 2rem;
		padding: 1rem 2.5rem;
		width: fit-content;
		height: fit-content;
		border-radius: 25px 25px 0px 0px;
		text-transform: uppercase;
		display: flex;
		align-self: end;
	}

	.about,
	.projects,
	.contact {
		transition: height 0.3s ease;
		overflow: hidden;
		height: 10rem;
		width: 100%;
		font-size: 1.5rem;
	}

	/* ABOUT */
	.nav__about:hover + .about,
	.about:hover {
		height: 25rem;
	}

	.nav__about:hover + .about > *,
	.about:hover > * {
		opacity: 1;
	}

	/* PROJECTS */
	.nav__projects:hover + .projects,
	.projects:hover {
		height: 30rem;
	}

	.nav__projects:hover + .projects > *,
	.projects:hover > * {
		opacity: 1;
	}

	/* CONTACT */
	.nav__contact:hover + .contact,
	.contact:hover {
		height: 30rem;
	}

	.nav__contact:hover + .contact > *,
	.contact:hover > * {
		opacity: 1;
	}

	/* tekst in de rect standaard onzichtbaar */
	.about > *,
	.projects > *,
	.contact > * {
		opacity: 0;
		transition: opacity 0.3s ease;
	}

	.nav__about {
		background-color: var(--lightlightblue);
		grid-column: 3;
		grid-row: 1;
	}

	.about {
		background-color: var(--lightlightblue);
		grid-column: 1 / span 3;
		grid-row: 2;
	}

	.about__p {
		color: var(--black);
	}

	.nav__projects {
		background-color: var(--lightblue);
		grid-column: 2;
		grid-row: 2;
	}

	.projects {
		background-color: var(--lightblue);
		grid-column: 1 / span 3;
		grid-row: 3;

		position: relative;
		overflow: hidden;

		transition: height 0.3s ease;
		color: var(--black);
		font-size: 1.5rem;

		display: grid;
		grid-template-columns: 4fr 2fr 3fr 3fr 4fr;
		grid-template-rows: 1fr 2fr 3fr;
		margin: 0;
	}

	.projects > * {
		padding: 0.7rem 1rem;
		border-radius: 25px;
		width: fit-content;
		height: fit-content;
	}

	.projects__p {
		background-color: var(--blue);
		margin-left: 5rem;
		border: 0.1rem solid var(--black);
		grid-column: 1;
		grid-row: 1;
		display: flex;
		justify-content: end;
		min-width: 23rem;
		padding: 1rem 1.5rem;
	}

	.projects_li--1 {
		grid-column: 1;
		grid-row: 2;
		background-color: var(--lightlightblue);
		text-transform: uppercase;
		display: flex;
		justify-self: center;
		align-self: center;
	}

	.projects_li--2 {
		grid-column: 1 / span 2;
		grid-row: 3;
		background-color: var(--lightlightblue);
		text-transform: uppercase;
		display: flex;
		justify-self: end;
	}

	.projects_li--3 {
		grid-column: 3;
		grid-row: 2;
		background-color: var(--lightlightblue);
		text-transform: uppercase;
		display: flex;
		justify-self: end;
		align-self: end;
	}

	.projects_li--4 {
		grid-column: 3 / span 2;
		grid-row: 3;
		background-color: var(--lightlightblue);
		text-transform: uppercase;
		display: flex;
		justify-self: center;
		align-self: center;
	}

	.projects_li--5 {
		grid-column: 4;
		grid-row: 2;
		background-color: var(--lightlightblue);
		text-transform: uppercase;
		display: flex;
		justify-self: center;
		align-self: end;
	}

	.projects_li--6 {
		grid-column: 4;
		grid-row: 1;
		background-color: var(--lightlightblue);
		text-transform: uppercase;
		display: flex;
		justify-self: end;
		align-self: center;
	}

	.projects_li--7 {
		grid-column: 5;
		grid-row: 2;
		background-color: var(--lightlightblue);
		text-transform: uppercase;
		display: flex;
		justify-self: center;
		align-self: end;
	}

	.projects > a {
		grid-column: 5;
		grid-row: 3;
		display: flex;
		justify-self: center;
		align-self: center;
	}

	.nav__contact {
		background-color: var(--blue);
		grid-column: 1;
		grid-row: 3;
		z-index: 3;
	}

	.contact {
		background-color: var(--blue);
		grid-column: 1 / span 3;
		grid-row: 4;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: max-content auto auto;
		text-align: center;
	}

	.contact__title {
		grid-column: 1 / span 2;
		grid-row: 1;
		text-transform: uppercase;
		font-size: 4rem;
		background-color: var(--lightblue);
		border-radius: 25px;
		width: fit-content;
		padding: 1rem;
		display: flex;
		justify-self: center;
		align-self: end;
		margin-bottom: 0;
	}

	.contact__arrow {
		grid-column: 1;
		grid-row: 2;
		width: 8rem;
		height: auto;
		margin-top: 1rem;
		display: flex;
		justify-self: end;
		align-self: start;
	}

	.contact__geg {
		grid-column: 2;
		grid-row: 2;
		display: flex;
		flex-direction: column;
		text-align: right;
		width: fit-content;
	}

	.mail:before {
		content: "";
		width: 1.5rem;
		height: 1.5rem;
		display: inline-block;
		background-image: url("../assets/mail.svg");
		background-size: contain;
		background-repeat: no-repeat;
		margin-right: 0.5rem;
		margin-bottom: -0.5rem;
	}

	.phone:before {
		content: "";
		width: 1.5rem;
		height: 1.5rem;
		display: inline-block;
		background-image: url("../assets/mobile.svg");
		background-size: contain;
		background-repeat: no-repeat;
		margin-right: 0.5rem;
		margin-bottom: -0.5rem;
	}

	.phone {
		margin-top: 0rem;
	}

	.contact__button {
		grid-column: 2;
		grid-row: 3;
		width: 18rem;
		height: fit-content;
		margin-top: -4rem;
	}
</style>
