<div>
    <nav>
        <ul>
            <li>
                <a href="../pages/about"></a>
            </li>
            <li>
                <a href="../pages/projects"></a>
            </li>
            <li>
                <a href="../pages/contact"></a>
            </li>
        </ul>
    </nav>
</div>
